__pycache__/
*.pyc
android/.gradle/
android/build/
android/app/build/
*.apk
*.aab
26.2.1
Build
Checking
Cloning
Common
Deploying...
Docs
Downloaded
Downloading
Exited
Installing
Running
Setting
Uploaded
Uploading
Xapp_WORKING_BACKUP.py
Xapp_backup*.py
Xapp_safe_backup.py
novalex.db
